body {
    margin: 0;
    background-color: grey;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    line-height: 2.7em;
    font-size: 10px;
}

.header {
    width: 100%;
    height: 75vh;
    background-color: brown;
}

.header-poster {
    width: 90%;
    height: 100%;
    background-size: 100% 100%;
    background: url('../images/fire-wolf.jpg') no-repeat center center;
    margin: 0 auto;
}

.main {
    padding: 50px 0;
    width: 100%;
    text-align: center;
}
.main h1 {
    display: inline-block;
}
.main .gallery-image {
    margin-right: 10px;
    width: 20%;
    display: inline-block;
}

.main .gallery-image img {
    width: 100%;
    height: 100%;
    display: inline-block;
    width: 20px;
}

.footer {
    text-align: center;
    color: white;
    width: 100%;
    background-color: black;
}

.footer .links {
    margin: 20px;
    display: inline-block;
    
}

.footer .links ul {
    vertical-align: top;
    text-align: left;
    font-size: 20px;
    padding: 5px;
    margin-right: 5%;
    list-style-type: none;
    display: inline-block;
}
 .header .header-poster{
     margin: 0 auto;
 }

 .links .a {
     display: inline-block;
     margin: 30px;
     width: 20px;
     

     
 }

 .links .b {
     display: inline-block;
     margin: 30px;
     width: 400px;
    
 }

 .links .c {
     display: inline-block;
     margin: 30px;
     width: 400px;
     
 }

 .links .d {
     display: inline-block;
     margin-left: 30px;
     margin-top: 0;
     height: 30px;
     line-height: 2.7em;
     font-size: 10px;
     
     
 }

 li:first-child{
     color: grey;
     margin-bottom: 20px;
}

.footer .links{
    margin-top: 20px;
}