body {
    margin: 0;
    background-color: grey;
}

.header {
    width: 100%;
    height: 75vh;
    background-color: brown;
}

.header-poster {
    width: 90%;
    height: 100%;
    background-size: 100% 100%;
    background: url('../images/fire-wolf.jpg') no-repeat center center;
}

.main {
    padding: 50px 0;
    width: 100%;
}

.main .gallery-image {
    margin-right: 10px;
    width: 20%;
}

.main .gallery-image img {
    width: 100%;
    height: 100%;
}

.footer {
    text-align: center;
    color: white;
    width: 100%;
    background-color: black;
}

.footer .links {
    margin: 20px;
}

.footer .links ul {
    vertical-align: top;
    text-align: left;
    font-size: 20px;
    padding: 5px;
    margin-right: 5%;
}
